*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

form{
   /* border: 2px solid grey;
    margin-left: 30%;
    margin-top: 5%;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background: darkgreen;
    color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: red 1px solid;*/
    margin-left: 35%;
    margin-right: 40%;
    background: rgb(39, 71, 3);
    border-radius: 8px;
    width: 30%;   
    text-align: center;
    color:honeydew;
}
body{
    background: rgb(24, 31, 1);
}
input{
    padding: 5px;
    width: 220px;
    margin-left:40px;
    color:rgb(92, 9, 50);

}
h1{
    text-align: center;
    color: wheat;
    margin: 10px;
}


label{
    padding:10px;
    font-size: 14px;
    font-weight: 800;
    
}

button{
    margin-left: 40%;
    margin-top: 20%;
    background-color: darkgreen;
    padding: 5px;
    width: 60px;
    color: white;
    border-radius: 2px;
    border: none;
}

select{
    padding: 5px;
    width: 220px;
    margin-left:40px;
}